{% assign control-size = include.control-size | default: "medium" %}
{% assign custom-class = include.custom-class | default: "" %}
{% assign class-list = "form-control" %}
{% assign multiple = include.multiple | default: false %}
  
{% if control-size != "medium" %}
    {% if control-size == "small" %}
      {% assign class-list = class-list | append: " form-control-sm" %}
    {% else %}
      {% assign class-list = class-list | append: " form-control-lg" %}
    {% endif %}
{% endif %}

{% if include.custom-class %}
  {% assign class-list = class-list | append: " " | append: custom-class %}
{% endif %}
{{include.data-attrs | json}}
<select
  class="{{ class-list }}"  {% if multiple %}multiple="multiple"{% endif %} 
  {% if include.data-select %}data-select="true"{% endif %}
  {% if include.data-select-lazy %}data-select-lazy="true"{% endif %}
  {% if include.data-select-init-text %}data-select-init-text="{{ include.data-select-init-text }}"{% endif %}
  {% if include.data-select-url %}data-select-url="{{ include.data-select-url }}"{% endif %}
>


  {% for option in include.options %}
    <option
      value="{{ option.value }}"
      {% if option.value == selected %}selected{% endif %}
      {% if option.disabled %}disabled{% endif %}
    >{{ option.text | default: option.value }}</option>
  {% endfor %}
</select>


