
<nav id="navbar" class="navbar navbar-slide navbar-dark navbar-expand">
    <a class="navbar-brand mx-0 mr-2 mr-sm-3" href="/admin/">
        <img class="navbar-img d-none d-lg-block" src="/images/smartstore.svg" alt="لایف فلو" />
        <img class="navbar-img d-lg-none" src="/images/smartstore-icon.svg" alt="لایف فلو"  />
    </a>

    <div id="navbar-menu" class="collapse navbar-collapse mr-auto">
        
        


<ul class="navbar-nav">
        <li data-id="nav-dashboard" class="nav-item dropdown d-none d-md-block">
            <a class="nav-link" href="{{ '/' | url }}">
                        <i class="icm icm-home navbar-icon"></i>
                <span class="navbar-label d-none d-lg-block">داشبورد</span>
            </a>
        </li>
         <li data-id="nav-configuration" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                        <i class="icm icm-equalizer navbar-icon"></i>
                <span class="navbar-label d-none d-lg-block">برنامه ریزی</span>
            </a>
        <ul class="dropdown-menu">
               
               
                <li data-id="regional-settings">
                    <a class="dropdown-item" href="{{ '/projects/list.html' | url }}">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#globe-americas"></use></svg>
                      پروژه ها
                    </a>

                </li>
                <li data-id="payment-methods">
                    <a class="dropdown-item" href="/admin/payment/providers/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#credit-card"></use></svg>
                        روش های پرداخت
                    </a>
                </li>
                <li data-id="list-settings" class="dropdown-group">
                    <a class="dropdown-item" href="javascript:void(0)">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#view-list"></use></svg>
                        لیست ها
                    </a>
        <ul class="dropdown-menu">
                <li data-id="delivery-times">
                    <a class="dropdown-item" href="/admin/deliverytime/list/">
                        زمان تحویل
                    </a>
                </li>
                <li data-id="quantity-units">
                    <a class="dropdown-item" href="/admin/quantityunit/list/">
                        واحدهای کمیت
                    </a>
                </li>
                <li data-id="weights">
                    <a class="dropdown-item" href="/admin/measure/weights/">
                        وزن ها
                    </a>
                </li>
                <li data-id="dimensions">
                    <a class="dropdown-item" href="/admin/measure/dimensions/">
                        ابعاد
                    </a>
                </li>
                <li data-id="price-labels">
                    <a class="dropdown-item" href="/admin/pricelabel/list/">
                        برچسب های قیمت
                    </a>
                </li>
                <li data-id="collection-groups">
                    <a class="dropdown-item" href="/admin/collectiongroup/list/">
                        Collection Groups
                    </a>
                </li>
        </ul>
                </li>
                <li data-id="email-accounts">
                    <a class="dropdown-item" href="/admin/emailaccount/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#envelope"></use></svg>
                        حساب های ایمیل
                    </a>
                </li>
                <li data-id="activity-types">
                    <a class="dropdown-item" href="/admin/activitylog/activitylogtypes/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#eye-fill"></use></svg>
                        انواع فعالیت
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    
                <li data-id="import">
                    <a class="dropdown-item" href="/admin/import/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#database-up "></use></svg>
                        واردات
                    </a>
                </li>
                <li data-id="export">
                    <a class="dropdown-item" href="/admin/export/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#database-down "></use></svg>
                        صادرات
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    
                <li data-id="themes">
                    <a class="dropdown-item" href="/admin/theme/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#palette"></use></svg>
                        تم ها
                    </a>
                </li>
        </ul>
        </li>
 
 
  
    
  
        <li data-id="nav-configuration" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                        <i class="icm icm-equalizer navbar-icon"></i>
                <span class="navbar-label d-none d-lg-block">مالی</span>
            </a>
        <ul class="dropdown-menu">
               
               
                <li data-id="regional-settings" class="dropdown-group">
                    <a class="dropdown-item" href="javascript:void(0)">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#globe-americas"></use></svg>
                       تعاریف پایه
                    </a>
        <ul class="dropdown-menu">
                <li data-id="countries">
                    <a class="dropdown-item" href="{{ '/financial/accounts/list.html' | url }}">
                        حساب ها
                    </a>
                </li>
                <li data-id="languages">
                    <a class="dropdown-item" href="/admin/language/list/">
                        زبان ها
                    </a>
                </li>
                <li data-id="currencies">
                    <a class="dropdown-item" href="/admin/currency/list/">
                        ارزها
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    <li data-id="shipping-header" class="dropdown-header h6">حمل و نقل</li>
                <li data-id="shipping-methods">
                    <a class="dropdown-item" href="/admin/shipping/methods/">
                        روش های حمل و نقل
                    </a>
                </li>
                <li data-id="shipping-providers">
                    <a class="dropdown-item" href="/admin/shipping/providers/">
                        روش های محاسبه نرخ حمل و نقل
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    <li data-id="tax-header" class="dropdown-header h6">مالیات</li>
                <li data-id="tax-providers">
                    <a class="dropdown-item" href="/admin/tax/providers/">
                        ارائه دهندگان مالیات
                    </a>
                </li>
                <li data-id="tax-categories">
                    <a class="dropdown-item" href="/admin/tax/list/">
                        دسته های مالیاتی
                    </a>
                </li>
        </ul>
                </li>
                 <li data-id="payment-methods">
                    <a class="dropdown-item" href="{{ '/financial/obligations/list.html' | url }}">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#credit-card"></use></svg>
                      تعهدات
                    </a>
                </li>
                <li data-id="payment-methods">
                    <a class="dropdown-item" href="{{ '/financial/traffic-fines/list.html' | url }}">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#credit-card"></use></svg>
                       خلافی های ماشین
                    </a>
                </li>
                <li data-id="list-settings" class="dropdown-group">
                    <a class="dropdown-item" href="javascript:void(0)">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#view-list"></use></svg>
                        لیست ها
                    </a>
        <ul class="dropdown-menu">
                <li data-id="delivery-times">
                    <a class="dropdown-item" href="/admin/deliverytime/list/">
                        زمان تحویل
                    </a>
                </li>
                <li data-id="quantity-units">
                    <a class="dropdown-item" href="/admin/quantityunit/list/">
                        واحدهای کمیت
                    </a>
                </li>
                <li data-id="weights">
                    <a class="dropdown-item" href="/admin/measure/weights/">
                        وزن ها
                    </a>
                </li>
                <li data-id="dimensions">
                    <a class="dropdown-item" href="/admin/measure/dimensions/">
                        ابعاد
                    </a>
                </li>
                <li data-id="price-labels">
                    <a class="dropdown-item" href="/admin/pricelabel/list/">
                        برچسب های قیمت
                    </a>
                </li>
                <li data-id="collection-groups">
                    <a class="dropdown-item" href="/admin/collectiongroup/list/">
                        Collection Groups
                    </a>
                </li>
        </ul>
                </li>
                <li data-id="email-accounts">
                    <a class="dropdown-item" href="/admin/emailaccount/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#envelope"></use></svg>
                        حساب های ایمیل
                    </a>
                </li>
                <li data-id="activity-types">
                    <a class="dropdown-item" href="/admin/activitylog/activitylogtypes/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#eye-fill"></use></svg>
                        انواع فعالیت
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    
                <li data-id="import">
                    <a class="dropdown-item" href="/admin/import/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#database-up "></use></svg>
                        واردات
                    </a>
                </li>
                <li data-id="export">
                    <a class="dropdown-item" href="/admin/export/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#database-down "></use></svg>
                        صادرات
                    </a>
                </li>
                    <li class="dropdown-divider"></li>
                    
                <li data-id="themes">
                    <a class="dropdown-item" href="/admin/theme/list/">
                                    <svg class="dropdown-icon bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#palette"></use></svg>
                        تم ها
                    </a>
                </li>
        </ul>
        </li>
 

</ul>


        
    </div>

    <div class="collapse navbar-collapse ml-auto">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-tool" href="javascript:;" title='اقدامات' data-toggle="dropdown">
                    <i class="icm icm-cog navbar-icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="https://localhost:44325/" title="فروشگاه عمومی - Your store name">
                            <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#shop-window"></use></svg>
                            Your store name
                        </a>
                    <a class="dropdown-item" href='/admin/theme/preview/'>
                        <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#eye"></use></svg>
                        حالت پیش نمایش
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="clear-cache" href="javascript:;" data-url="/admin/maintenance/clearcache/?silent=True">
                        <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#trash"></use></svg>
                        حافظه پنهان را پاک کنید
                    </a>
                    <a class="dropdown-item" id="clear-database-cache" href="javascript:;" data-url="/admin/maintenance/cleardatabasecache/?silent=True">
                        <i class="bi bi-fw"></i>
                        کش پایگاه داده را پاک کنید
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/maintenance/restartapplication/">
                        <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#power"></use></svg>
                        برنامه را مجدداً راه اندازی کنید
                    </a>
                </div>
            </li>

                <form id="form-languageselector" class="hide" action="/admin/language/languageselected/" method="post" data-ajax="true" data-ajax-url="/admin/language/languageselected/" data-ajax-method="post" data-ajax-complete="onLanguageChangedRequestCompleted">
        <input type="hidden" name="customerlanguage" id="customerlanguage" value="2" />
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8P4m-KJXWyBIlQWbEJdcf-ksnXQIeVeRmYwESy53JooV6-vjN6-96MIpnvYfrd1_eVyOB0CWidNMQ5hxy0vs4yx-aZVdK4eA8AU95gioUxmo8EhghNqdQtfEFcUx7CxaPApYQkH--nFtItt8BkfXXgIlXkGHe2l4DxVy2WrBxrNCbTuiK_QCyzy8eIsUoIPMTw" /></form>
    <li class="nav-item dropdown d-none d-md-block">
        <a class="nav-link dropdown-toggle navbar-tool" href="javascript:void(0)" title='فارسی' data-toggle="dropdown">
            <i class="icm icm-earth navbar-icon"></i>
            <span class="pl-2">FA</span>
        </a>
        <div id="language-selector" class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0)" data-lang-id='2' class="dropdown-item disabled">
                    <img src='/images/flags/ir.png' alt="فارسی" />
                    فارسی
                </a>
                <a href="javascript:void(0)" data-lang-id='1' class="dropdown-item">
                    <img src='/images/flags/us.png' alt="English" />
                    English
                </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item manage-languages" href="/admin/language/list/">
                مدیریت زبان ها
            </a>
        </div>
    </li>
    


       

            <li class="nav-item dropdown ml-md-3">
                <a id="current-user" class="nav-link dropdown-toggle navbar-tool" data-toggle="dropdown" title="dabirsiaghim@gmail.com" href="/admin/customer/edit/1/">
                    <i class="icm icm-user navbar-icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/admin/customer/edit/1/">
                        <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#person-circle"></use></svg>
                        <span>حساب</span> 
                        <small class="text-muted ml-2">dabirsiaghim@gmail.com</small>
                    </a>
                    <a class="dropdown-item" href="/logout/">
                        <svg class="bi-fw bi" fill="currentColor" focusable="false" height="1em" role="img" width="1em"><use xlink:href="/lib/bi/bootstrap-icons.svg?v=66f036ec#box-arrow-left"></use></svg>
                        خروج؟
                    </a>
                </div>
            </li>

        </ul>
    </div>
</nav>
