---
layout: adminroot
---

    


<div id="page">
    <div class="canvas-blocker canvas-slidable"></div>
    <div class="page-main canvas-slidable">
        <header id="header" class="dispensable">
            
                
                     {% include "partials/navbar.html" %} 





                
            

            <div id="breadcrumb">
                
            </div>
        </header>

        

        

        <div id="content">
            <div class="cph">
                	{{ content }}
            </div>
                
            <div id="ajax-busy">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        
    </div>

    
</div>



    

    
    